{% extends "@SAMCommon/base.html.twig" %}

{% set homepageRoute = homepage_route is defined ? homepage_route : 'contact_book' %}

{% block body_class %}{% if app.session.get('user.menu.toggled') == 'true' and not is_mobile() and not is_tablet() %}navbar-toggled{% endif %}{% endblock %}

{% block body %}
    <div class="body">
        <nav class="navbar{% if app.session.get('user.menu.toggled') == 'true' and not is_mobile() and not is_tablet() %} toggled{% endif %}">
            <div class="container-fluid">
                <div class="navbar-header hidden-sm hidden-xs">
                    {% include "@SAMCommon/Layout/_brand.html.twig" %}
                </div>
                {{ render(controller('SAMCommonBundle:LegalEntity:chooser')) }}
                <div class="main-buttons">
                    {% block main_action_buttons %}{% endblock %}
                </div>
                {% include "@SAMCommon/Layout/_user_nav.html.twig" %}
                <div id="sidebarToggle" class="btn hidden-sm hidden-xs"></div>
                <div class="copyright hidden-sm hidden-xs">
                    <a href="https://www.mysam.co"><span>Powered by</span> <img src="{{ asset('bundles/samcommon/img/logo-SAM.svg') }}" /></a>
                </div>
            </div>
        </nav>
        {# 
        <script>
            if ($(window).width() < 992) {
                $('nav.navbar').removeClass('toggled');
            }
        </script>
        #}
        <div class="container-fluid main-container">
            <div class="topbar visible-sm visible-xs">
                <a href="#" class="toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="logo" href="{{ path(homepageRoute) }}">
                    <img src="{{ asset('img/logo-small.png') }}" alt="{{ site_name }} logo">
                </a>
            </div>
            {% block main_container %}
                {% block main_container_start %}{% endblock %}
                    <div class="search-container">
                        {% block search_block %}{% endblock %}
                    </div>
                    <div class="page-content {% block page_content_css_class %}{% endblock %}">
                        {% block flashs %}
                            {% include "@SAMCommon/flash-messages.hml.twig" %}
                        {% endblock %}
                        {% block page_content %}{% endblock %}
                    </div>
                {% block main_container_end %}{% endblock %}
                <div class="mobile-panel" id="mobile-search-panel">
                    {% block search_form_mobile %}{% endblock %}
                </div>
            {% endblock %}
        </div>
    </div>
    <div class="side-panel-overlay"></div>
    <div class="side-panel-container {% block side_panel_toggle %}{% endblock %}">
        <div class="side-panel-content">{% block side_panel_wrapper %}{% endblock %}</div>
        {% include "@SAMCommon/loader.html.twig" %}
    </div>
{% endblock %}

{% block javascriptsHead %}
    {{ parent() }}
    <script src="{{ asset('build/app-head.js') }}"></script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/vendor.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}
