<div class="select2-custom-element-large-container">
	<a class="select2-custom-element-large" href="{{ path('edit_company', {company: company.id}) }}">
		<div class="picture">
			<img src="{{ company|picture({'fieldName': 'logoFile', 'default': 'company.png', 'imagineFilter': 'company_thumb_sm'}) }}" alt="{{ company.name }}" class="company-thumb" />
		</div>
		<div class="details">
			<div class="element-title">{{ company.name }}</div> 
			<span class="element-text">{{ company.sector }}</span>
			<span class="element-text"><strong>{{ company|countContacts }} contacts dans le carnet d'adresses</strong></span>
		</div>
	</a>
</div>