{{ form_start(form, {attr:{class:'activity-form'}}) }}
<div class="row">
    <div class="col-lg-4 col-xs-12">
        {{ form_row(form.result) }}
    </div>
    <div class="col-lg-4 col-xs-12">
        {{ form_row(form.eventDate, {attr: {class: 'datepicker'}}) }}
    </div>
    {% if isProspect %}
        <div class="col-lg-4 col-xs-12">
            {{ form_row(form.reminderDate, {attr: {class: 'datepicker'}}) }}
        </div>
    {% endif %}
</div>
<div class="row">
    <div class="col-xs-12">
        {{ form_row(form.content) }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group text-right">
            <button type="submit" class="btn btn-wide btn-primary btn-md">{{'button.submit'|trans({}, 'SAMCommonBundle')}}</button>
        </div>
    </div>
</div>
{{ form_row(form._token) }}
{{ form_end(form, {render_rest: false}) }}