{{ form_start(form, {attr:{class:'activity-form'}}) }}
    <div class="row">
        <div class="col-xs-12">
            {{ form_row(form.content) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-right">
            <button type="submit" class="btn btn-wide btn-primary btn-md">{{'button.submit'|trans({}, 'SAMCommonBundle')}}</button>
        </div>
    </div>
{{ form_row(form._token) }}
{{ form_end(form, {render_rest: false}) }}